/**
* Template Name: Appland - v2.3.1
* Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Roboto";
  color: #585a61;
}

a {
  color: #5777ba;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #5777ba;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #748ec6;
  transition: background 0.2s ease-in-out;
}

#main {
  margin-top: 0px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.95);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 20px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto";
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #000000;
  text-decoration: none;
}

#header .logo img {
  padding: 6px 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000000;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-family: "Roboto";
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #5777ba;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #233355;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #5777ba;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5777ba;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #47536e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #5777ba;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(35, 51, 85, 0.7);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: relative;
  overflow: hidden;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 80px;
  padding-bottom: 100px;
  background-image: url("/assets/img/img-bg.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 86px;
  font-weight: 500;
  line-height: 56px;
  color: white;
  font-family: "Noto Sans SC";
  text-align: center;
}

#hero h2 {
  color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 32px;
  text-align: center;
  font-family: "Noto Sans SC";
}

#hero .download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #47536e;
  position: relative;
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
  #hero .download-btn + .download-btn {
    margin: 0 10px;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #000000;
  font-family: "Noto Sans SC";
}

.section-title h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #000000;
  font-family: "Noto Sans SC";
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px;
}

.features .content .icon-box {
  margin-top: 25px;
  position: relative;
  text-align: center;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #5777ba;
}

.features .content .icon-box p {
  font-size: 15px;
  margin-top: 20px;
  color: #979aa1;
  font-family: "Noto Sans SC";
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}


/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details {
  background-image: url("/assets/img/image 7.png");
  height: 600px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.details .content .text-details {
  position: absolute;
  left: 40px;
  width: 400px;
  height: 300px;
  font-family: "Noto Sans SC";
}

.details .content h4 {
  font-size: 19px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Noto Sans SC";
  line-height: 1.5;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Details2
--------------------------------------------------------------*/
.details2 {
  background-image: url("/assets/img/Rectangle 215.png"), url("/assets/img/image 14.png");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details2 .content .text-details2 {
  position: absolute;
  right: 40px;
  width: 400px;
  height: 300px;
}

.details2 .content h4 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Noto Sans SC";
  line-height: 1.5;
}

.details2 .content ul {
  list-style: none;
  padding: 0;
}

.detail2 .content ul li {
  padding-bottom: 10px;
}

.details2 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details2 .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Details3
--------------------------------------------------------------*/
.details3 {
  background-image: url("/assets/img/Rectangle 215.png"), url("/assets/img/image 15.png");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details3 .content .text-details3 {
  position: absolute;
  right: 40px;
  width: 400px;
  height: 300px;
}

.details3 .content h4 {
  font-size: 21px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Noto Sans SC";
  line-height: 1.5;
}

.details3 .content ul {
  list-style: none;
  padding: 0;
}

.detail3 .content ul li {
  padding-bottom: 10px;
}

.details3 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details3 .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Details4
--------------------------------------------------------------*/
.details4 {
  background-image: url("/assets/img/image 16.png");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details4 .content .text-details4 {
  background-image: url("/assets/img/Rectangle 217.png");
  position: absolute;
  left: 40px;
  width: 600px;
  height: 300px;
}

.details4 .content .text-details4 .details-center {
  position: absolute;
  top: 55%;
  left: 50%;
  right: -8%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.details4 .content h4 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Noto Sans SC";
  line-height: 1.5;
}

.details4 .content ul {
  list-style: none;
  padding: 0;
}

.detail4 .content ul li {
  padding-bottom: 10px;
}

.details4 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details3 .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Details5
--------------------------------------------------------------*/
.details5 {
  background-image: url("/assets/img/image 17.png");
  height: 600px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.details5 .content .text-details5 {
  position: absolute;
  right: 40px;
  width: 400px;
  height: 300px;
}

.details5 .content h4 {
  font-size: 19px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Noto Sans SC";
  line-height: 1.5;
}

.details5 .content ul {
  list-style: none;
  padding: 0;
}

.details5 .content ul li {
  padding-bottom: 10px;
}

.details5 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details5 .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-wrap {
  padding-left: 50px;
}
#img1 {
  position: absolute;
  width: 80%;
  top: 50px;
  right: 30px;
  z-index: 2;
}
#img2 {
  position: absolute;
  width: 105%;
  left: 75px;
  bottom: 110px;
  z-index: 3;
}
#img3 {
  position: relative;
  width: 60%;
  bottom: 80px;
  left: 140px;
  z-index: 4;
}
#img4 {
  position: absolute;
  top: 125px;
  z-index: 1;
}

.text-desc {
  left: 40px;
  font-family: "Noto Sans SC";
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.testimonial-bg {
  background: url("/assets/img/Vector 21.png") left bottom no-repeat, url("/assets/img/Vector 20.png") right bottom no-repeat; 
  height: 550px;
}
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.image-desc {
  bottom: 25px;
  position: relative;
  width: 85%;
  left: 30px;
}
.text-desc {
  left: 40px;
  font-family: "Noto Sans SC";
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

.testimonial-bg2 {
  background: url("/assets/img/Vector 16.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 500px;
}
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.image-desc1 {
  top: 220px;
  position: relative;
  width: 65%;
  left: 200px;
  z-index: 1;
}
.image-desc2 {
  bottom: 25px;
  position: relative;
  width: 85%;
  left: 30px;
  z-index: 2;
}
.text-desc {
  left: 40px;
  font-family: "Noto Sans SC";
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

.faq-bg {
  margin-top: 50px;
}
.img-faq {
  position: absolute;
  left: 250px;
  top: 70px;
  height: 120px;
  z-index: 1;
}
.img-faq2 {
  position: relative;
  z-index: 2;
  left: 220px;
  bottom: 120px;
  width: 60%;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: black;
  font-size: 14px;
  background: white;
}


#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

.btninput {
  width: 60px;
  height: 36px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Noto Sans SC";
  color: #000000;
}

#footer .footer-top .footer-contact p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Noto Sans SC";
  color: #000000;
}

#footer .footer-top h4 {
  font-size: 24px;
  font-family: "Noto Sans SC";
  color: black;
  position: relative;
  padding-bottom: 12px;
}

.social-links a{
  font-size: 18px;
  background: #fafafa;
  color: rgb(0, 0, 0);
  line-height: 3;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: left;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #000000;
}
@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}
